<h1>Home :)</h1>
    <li>
        <a href="/states">Ir a Estados</a>
    </li>
    <li>
        <a href="/cities">Ir a Ciudades</a>
    </li>
    <li>
        <a href="/empresas">Ir a Empresas</a>
    </li>
    <li>
        <a href="/clientes">Ir a Clientes</a>
    </li>
    <li>
        <a href="/proyectos">Ir a Proyectos</a>
    </li>
    <li>
        <a href="/estatuses">Ir a Estatuses</a>
    </li>